<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1>Calculadora</h1>
    <form action="/calculadora" method="post">

        <label for="n1">Número 1</label>
   
        <input type="text" name="n1" id="n1">

        <select name="operador" id="operador">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>

        <label for="n2">Número 2</label>
        <input type="text" name="n2" id="n2">

        <br>

        <input type="submit" value="Calcular">

    </form>
</body>
</html>